{
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "rules": {
    "class-methods-use-this": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-shadow": "off",
    "no-underscore-dangle": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true,
        "argsIgnorePattern": "^_"
      }
    ],
    "comma-dangle": ["error", "never"]
  }
}
