*.log
*.pid
*.seed
*~
.DS_Store
.\#*
.grunt
.lock-wscript
.node_repl_history
.npm
.tern-port
.tmp
/.idea
/.tmp
/.vscode
\#*\#
build/Release
coverage
lib-cov
logs
node_modules
npm-debug.log*
package-lock.json
pids
pnpm-lock.yaml
yarn.lock
